.i-amphtml-payment-section {
  padding: 16px 0 16px 0;
  background: white;
}
.i-amphtml-payment-logo {
  display: inline-block;
  margin-left: 16px;
  text-align: center;
}
.i-amphtml-payment-logo img {
  width: 24px;
}
.i-amphtml-payment-detail {
  display: inline-block;
  margin-left: 8px;
}
.i-amphtml-payment-button {
  color: #4285f4;
  cursor: pointer;
  display: inline-block;
  float: right;
  font-size: 14px;
  margin: 8px 36px 0 0;
}
.i-amphtml-payment-link {
  padding: 12px;
}
.i-amphtml-payment-brand {
  font-size: 14px;
  font-weight: 700;
}
.i-amphtml-payment-number {
  font-size: 14px;
  margin-top: 2px;
}

